@using XMS.Integration.OneC.Ut.Features.Catalog_СтатьиДвиженияДенежныхСредств_Feature
@using XMS.Modules.CostModule.Domain

<MudTable @ref="_mudTable" Items="@([string.Empty])" CustomHeader="true" Hover="true" Dense="true" Elevation="0" Bordered="true">
	<HeaderContent>
		<MudTh>
			<div class="d-flex align-center justify-space-between w-100">
				<MudText Typo="Typo.h6">Категории и Статьи Затрат</MudText>
				<MudText Typo="Typo.h6">Статьи ДДС (1С Бух)</MudText>
			</div>
		</MudTh>
	</HeaderContent>
	<RowTemplate>
	</RowTemplate>
	<ChildRowContent>
		
		<RecursiveRow CostCategoriesLookup="CostCategoriesLookup"
					  CostCategoryItemMap="CostCategoryItemMap"
					  CostCatalogUtLookup="CostCatalogUtLookup"
					  ParentId="null"
					  Level="1"
					  CatalogUtItemsTree="CatalogUtItemsTree"
					  OnUpdateCostCatalogUt="OnUpdateCostCatalog"
					  OnDeleteCostCatalogUt="OnDeleteCostCatalogUt">
		</RecursiveRow>
		
	</ChildRowContent>
	<LoadingContent>
		<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
			Загрузка из БД...
		</MudAlert>
	</LoadingContent>
</MudTable>

@code {
	[Parameter] public ILookup<Guid?, CostCategory> CostCategoriesLookup { get; set; } = default!;
	[Parameter] public Dictionary<(Guid CostCategoryId, Guid CostItemId), Guid> CostCategoryItemMap { get; set; } = default!;
	[Parameter] public ILookup<Guid, CostCatalogUt> CostCatalogUtLookup { get; set; } = default!;
	[Parameter] public IReadOnlyList<TreeItemData<Catalog_СтатьиДвиженияДенежныхСредств>> CatalogUtItemsTree { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public EventCallback<List<CostCatalogUt>> OnUpdateCostCatalog { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCostCatalogUt { get; set; }

	private MudTable<string>? _mudTable;
}
