root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,razor,cshtml}]
end_of_line = crlf
indent_style = space
indent_size = 4

[*.{json,yml,yaml,xml,config,md,css,js,ts,html,sh,Dockerfile}]
end_of_line = lf
indent_style = space
indent_size = 2

[*.{sln,slnx,csproj,props,targets}]
end_of_line = crlf
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false

# C# style
[*.cs]
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false

csharp_style_namespace_declarations = file_scoped:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion