@page "/auth"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
	<h1>You are authenticated</h1>
	<AuthorizeView>
		Hello @context.User.Identity?.Name!
	</AuthorizeView>
	<AuthorizeView Roles="Manager">
		<div>You are a manager</div>
	</AuthorizeView>
	<AuthorizeView Roles="Admin">
		<div>You are an admin</div>
	</AuthorizeView>
</MudContainer>
