@page "/"

<PageTitle>Home</PageTitle>
<MudContainer MaxWidth="MaxWidth.Medium" Class="p-4">

<h4>Всем, привет!</h4>

	Это приложение управления данными о персонале, организационной структуре и аналитики корпоративных затрат. 
	Сопоставления сотрудников с пользователями 1С УТ, AD и сотрудниками 1С Бух и 1С ЗУП. Атак же их должностей отделов, городов и локаций.
<br />
Постепенно мы добавляем сюда другие модули.

</MudContainer>
