@page "/"

<PageTitle>Home</PageTitle>

<h2>Всем, привет!</h2>

Сейчас это приложение сопоставления сотрудников с пользователями 1С УТ, AD и сотрудниками 1С Бух и ЗУП.
<br />
Постепенно мы добавляем сюда другие модули.
