@page "/Account/AccessDenied"

<PageTitle>Access denied</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium">
	<header>
		<h1 class="text-danger">Доступ запрещен</h1>
		<p class="text-danger">У вас нет доступа к этому ресурсу.</p>
	</header>
</MudContainer>
