@using XMS.Domain.Models

<MudTable Items="@(new List<string> { "" })" CustomHeader="true" Hover="true" Dense="true" Elevation="0" Bordered="true">
	<HeaderContent>
		<MudTh>
			<div class="d-flex align-center justify-space-between w-50">
				<MudText>Категории / Статьи затрат</MudText>
				<MudText>Статьи ДДС (1С Бух)</MudText>
			</div>
		</MudTh>				
	</HeaderContent>
	<RowTemplate>
	</RowTemplate>
	<ChildRowContent>
		<RecursiveRow CostCategories="CostCategories"
					  CostItems="CostItems"
					  CostCategoryItems="CostCategoryItems"
					  CashFlowItems="CashFlowItems"
					  ParentId="null"
					  Level="1"
					  OnAddCashFlowItemLink="OnAddCashFlowItemLink"
					  OnDeleteCashFlowItemLink="OnDeleteCashFlowItemLink">
		</RecursiveRow>
	</ChildRowContent>
</MudTable>

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public IEnumerable<CostItem> CostItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CostCategoryItem> CostCategoryItems { get; set; } = default!;
	[Parameter] public IReadOnlyList<CashFlowItem> CashFlowItems { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public EventCallback<Guid> OnAddCashFlowItemLink { get; set; }
	[Parameter] public EventCallback<CostCategoryItem> OnDeleteCashFlowItemLink { get; set; }
}
