@page "/"

<PageTitle>Home</PageTitle>

<MudContainer MaxWidth="MaxWidth.Medium" Class="p-4">

	<MudText Typo="Typo.h4" Align="Align.Center">Всем, привет!</MudText>
	<MudPaper Class="pa-6 ma-3">
		Улучшен пользовательский опыт работы с таблицей Сотрудники:
		<ul>
			<li>Убрали пагинацию, тепрь просто прокрутка</li>
			<li>Зафиксировали заголовки таблицы</li>
			<li>Убрали переключалку редактирования, теперь редактирование запускается двойным кликом</li>
			<li>Поле быстрого поиска разместили между заголовком таблицы и кнопкой Добавить, для наглядности</li>
			<li>Изменения при редактировании сразу появляются в таблице</li>
		</ul>
	</MudPaper>
	<MudPaper Class="pa-6 ma-3">
		Добавлен функционал "мягкого" удаления. То есть объект на который может быть ссылка с другого объекта (например справочник)
		и его удаление может влиять на логику, при попытке удалить, просто помечается удаленным и перестает быть доступен, например в выпадающем списке.
		Но может быть восстановлен.
	</MudPaper>
	<MudPaper Class="pa-6 ma-3">
		Добавлена Авторизация. Для нужно входя воспользовать свой аккаунт Битрикс 24.
	</MudPaper>
	<MudPaper Class="pa-6 ma-3">
		Добавлена Админка, в ней <MudLink Href="admin/users">Пользователи</MudLink>, здесь можно управлять ролями и удалять пользователей, 
		и <MudLink Href="admin/roles">Роли</MudLink>, здесь можно эти роли создавать и удалять.
	</MudPaper>
	<MudPaper Class="pa-6 ma-3">
		Добавлен раздел <MudLink Href="costitems">Статьи Затрат</MudLink>.
		Представляет собой простую таблицу Статей Затрат (справа) и иерархию Категорий и Статей Затрат (слева).
		Добавить/изменить/удалить Категорию, добавить Статьи в Категорию можно через менюшку (три точки справа от каждой Категории)
	</MudPaper>
	<MudPaper Class="pa-6 ma-3">
		Первый модуль <MudLink Href="employees">Сотрудники</MudLink> -
		это приложение управления данными о персонале, организационной структуре для разных задач, в том числе для аналитики затрат предприятия.
		Представляет собой сопоставление сотрудников предприятия с сотрудниками 1С Бух, ЗУП, пользователями 1С УТ, AD. Атак же их должностей отделов, городов и локаций.
	</MudPaper>
	<MudPaper Class="pa-6 ma-3">
		Это приложение управления различными аспектами предприятия.
		Сначала здесь появились разные справочники Сотрудников и Пользователей 1С УТ, Бух, ЗУП и Пользователей AD.
		Постепенно мы будем добавлять сюда и другие модули.
	</MudPaper>
	
</MudContainer>
