@using XMS.Modules.CostModule.Domain

<MudTable @ref="_mudTable" Items="@([string.Empty])" CustomHeader="true" Hover="true" Dense="true" Elevation="0" Bordered="true">
	<HeaderContent>
		<MudTh>
			<div class="d-flex align-center justify-space-between w-100">
				<MudText Typo="Typo.h6">Категории и Статьи Затрат</MudText>
				<MudText Typo="Typo.h6">Статьи ДДС (1С Бух)</MudText>
			</div>
		</MudTh>
	</HeaderContent>
	<RowTemplate>
	</RowTemplate>
	<ChildRowContent>
		
		<RecursiveRow CostCategories="CostCategories"
					  CostCategoryItemMap="CostCategoryItemMap"
					  CashFlowCostLookup="CashFlowCostLookup"
					  ParentId="null"
					  Level="1"
					  CashFlowItemsTree="CashFlowItemsTree"
					  OnUpdateCashFlowCosts="OnUpdateCashFlowCosts"
					  OnDeleteCashFlowCost="OnDeleteCashFlowCost"
					  CostCategoriesLookup="CostCategoriesLookup">
		</RecursiveRow>
		
	</ChildRowContent>
	<LoadingContent>
		<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
			Загрузка из БД...
		</MudAlert>
	</LoadingContent>
</MudTable>

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public Dictionary<(Guid CostCategoryId, Guid CostItemId), Guid> CostCategoryItemMap { get; set; } = default!;
	[Parameter] public ILookup<Guid, CashFlowCost> CashFlowCostLookup { get; set; } = default!;
	[Parameter] public IReadOnlyList<TreeItemData<CashFlowItem>> CashFlowItemsTree { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public EventCallback<List<CashFlowCost>> OnUpdateCashFlowCosts { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCashFlowCost { get; set; }
	[Parameter] public ILookup<Guid?, CostCategory> CostCategoriesLookup { get; set; } = default!;

	private MudTable<string>? _mudTable;
}
