@using XMS.Domain.Models

<MudTable @ref="_mudTable" Items="@([string.Empty])" CustomHeader="true" Hover="true" Dense="true" Elevation="0" Bordered="true">
	<HeaderContent>
		<MudTh>
			<div class="d-flex align-center justify-space-between w-100">
				<MudText>Категории / Статьи затрат</MudText>
				<MudText>Статьи ДДС (1С Бух)</MudText>
			</div>
		</MudTh>
	</HeaderContent>
	<RowTemplate>
	</RowTemplate>
	<ChildRowContent>
		<div @key="CostCategoryItems">
			<RecursiveRow CostCategories="CostCategories"
						  CostCategoryItems="CostCategoryItems"
						  CashFlowCostLookup="CashFlowCostLookup"
						  ParentId="null"
						  Level="1"
						  CashFlowItemsTree="CashFlowItemsTree"
						  SelectedCashFlowItemIds="SelectedCashFlowItemIds"
						  OnUpdateCashFlowCosts="OnUpdateCashFlowCosts"
						  OnDeleteCashFlowCost="OnDeleteCashFlowCost">
			</RecursiveRow>
		</div>
	</ChildRowContent>	
	<LoadingContent>
		<MudAlert Severity="Severity.Info" ContentAlignment="HorizontalAlignment.Center">
			Загрузка из БД...
		</MudAlert>
	</LoadingContent>
</MudTable>

@code {
	[Parameter] public IReadOnlyList<CostCategory> CostCategories { get; set; } = default!;
	[Parameter] public IReadOnlyList<CostCategoryItem> CostCategoryItems { get; set; } = default!;
	[Parameter] public ILookup<Guid, CashFlowCost> CashFlowCostLookup { get; set; } = default!;
	[Parameter] public IReadOnlyList<TreeItemData<CashFlowItem>> CashFlowItemsTree { get; set; } = default!;
	[Parameter] public HashSet<Guid> SelectedCashFlowItemIds { get; set; } = default!;
	[Parameter] public Guid? ParentId { get; set; }
	[Parameter] public EventCallback<List<CashFlowCost>> OnUpdateCashFlowCosts { get; set; }
	[Parameter] public EventCallback<Guid> OnDeleteCashFlowCost { get; set; }

	private MudTable<string>? _mudTable;
}
